name: CD

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  dist:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Build SDist and wheel
      run: pipx run build

    - uses: actions/upload-artifact@v5
      with:
        name: Packages
        path: dist/*

    - name: Check metadata
      run: pipx run twine check dist/*